body{

background-image: url("aaa.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}

table{

   width: 500px;    
    margin: 44px auto;
    background-color: blue;
}



td{
border: 1px solid black;
text-align: left;
padding: 8px 15px;

}

input[type="text"]{
  
    padding: 10px 25px;
    margin: 9px 0 13px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 11px;
}